@model DataLayer.Clinic

@{
    ViewData["Title"] = "Edit Clinic";
}

<h1 class="my-4">Edit Clinic</h1>

<h4 class="mb-3">Clinic</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Pib" class="form-label"></label>
                <input asp-for="Pib" class="form-control" />
                <span asp-validation-for="Pib" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WorkHours" class="form-label"></label>
                <input asp-for="WorkHours" class="form-control" />
                <span asp-validation-for="WorkHours" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
