@{
    ViewData["Title"] = "Admin Panel";
}

<h1 class="my-4">Admin Panel</h1>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Clinics</h5>
                <p class="card-text">Manage and view all clinics.</p>
                <a href="@Url.Action("Index", "Clinic")" class="btn btn-primary mt-auto">View All Clinics</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Medical Employees</h5>
                <p class="card-text">Manage and view all medical employees.</p>
                <a href="@Url.Action("Index", "MedicalEmployee")" class="btn btn-primary mt-auto">View All Medical Employees</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Doctors</h5>
                <p class="card-text">Manage and view all doctors.</p>
                <a href="#" class="btn btn-primary mt-auto">View All Doctors</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Users</h5>
                <p class="card-text">Manage and view all users.</p>
                <a href="#" class="btn btn-primary mt-auto">View All Users</a>
            </div>
        </div>
    </div>
</div>
